<?xml version="1.0"?>
<!-- Declare your module and its dependencies -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">

    <module name="Scandiweb_AboutUs" setup_version="1.0.0">
        <!-- <sequence>
            <module name="Magento_Catalog"/>
        </sequence> -->
    </module>
</config>
