<?xml version="1.0"?>
<!-- Module declaration for Scandiweb_AddCarAttributeSet -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Scandiweb_CustomProductAttributeSet" setup_version="1.0.0"/>
</config>
